.git
.dockerignore
**/docker/
**/node_modules/
**/.next/*
!**/.next/standalone/
**/README.md
**/.npmrc
**/src/
!**/.next/standalone/**/src/
**/gha-creds-*.json
**/.DS_Store
**/.env*
**/.turbo/
**/Dockerfile
**/Dockerfile*
**/*.tsbuildinfo
.husky/
.vscode/
.github/